Repository broadinstitute/gnomad_methods, pull requests merged in 2023-04, with the labels that each got.

#527 update pre-commit hooks
  .pre-commit-config.yaml
  requirements-dev.in
Labels: Unplanned, Changelog: ignore

#528 Run pip-compile to update requirements-dev.txt and requirements.docs.txt
  .pre-commit-config.yaml
  docs/requirements.docs.txt
  requirements-dev.in
  requirements-dev.txt
Labels: Unplanned, Changelog: ignore

#529 Fix access to version's SUBSETS and POPS within repo
  gnomad/assessment/validity_checks.py
  gnomad/resources/grch38/gnomad.py
  gnomad/utils/release.py
Labels: Changelog: bug fix

#523 Add additional groupings to optional stratified allele frequencies
  gnomad/utils/annotations.py
Labels: Changelog: new feature, v4, Frequency

#521 Add 'strata' and 'qc_metrics' as globals on the table returned by `compute_stratified_metrics_filter`
  gnomad/sample_qc/filtering.py
Labels: Changelog: new feature, Sample outlier filter

#530 Modify `annotate_mutation_type` to take optional context length as a parameter.
  gnomad/utils/constraint.py
Labels: Changelog: new feature, Constraint

#526 Suggested changes to the Add generic constraint functions: compute_oe_per_transcript(), compute_all_pLI_scores(), pLI(), oe_confidence_interval(), calculate_z(), calculate_z_scores() PR
  gnomad/utils/constraint.py
Labels: Changelog: ignore, Constraint

#505 Add generic constraint functions: ` oe_aggregation_expr()`, `compute_pli()`, `oe_confidence_interval()`, `calculate_raw_z_score()`, `calculate_raw_z_score_sd()`
  gnomad/utils/constraint.py
Labels: Changelog: new feature, Constraint

#525 Add dbSNP b156 to resources for v4
  gnomad/resources/grch38/reference_data.py
Labels: Changelog: new feature, v4, annotation

#531 Add `pab_max_expr` function and modify `default_compute_info` to add 'AS_pab_max' annotation
  gnomad/utils/annotations.py
  gnomad/utils/sparse_mt.py
Labels: Changelog: new feature, v4, Variant QC annotation

#507 Add generic constraint functions: `get_downsamplings ()`, `remove_coverage_outliers ()`, and `filter_for_mu()`
  gnomad/utils/constraint.py
  gnomad/utils/filtering.py
Labels: Changelog: new feature, Constraint

#532 Update v4 downsampling
  gnomad/resources/grch38/gnomad.py
  gnomad/utils/file_utils.py
Labels: Changelog: ignore
